
/* Style Header */
@charset "utf-8";
@font-face {
	font-family: 'samim';
	font-style: normal;
	src: url('../fonts/samim.eot');
	src: url('../fonts/samim.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/samim.woff2') format('woff2'),
		 url('../fonts/samim.woff') format('woff'),
		 url('../fonts/samim.ttf') format('truetype');
}

/* Global Style */
.right-to-left {
	direction: rtl;
}
.left-to-right {
	direction: ltr;
}
.width-50 {
	width: 50%;
}


/* user-out-form */
.user-out-form {
	font-family: 'samim';
	padding: 30px 0;
	background-image: url(../images/user-out-form.jpg);
}
.user-out-form .content .col-md-4 {
	margin:120px auto;
}
#register-page .content .col-md-4 {
		margin:60px auto 50px !important;
}
.user-out-form .content .logo h1 {
	display: inline;
	font-size: 40px;
}
.user-out-form .content .logo h2 {
	border-radius: 7px;
	padding: 5px 20px;
	display: inline;
	color: #0771A9;
	font-size: 40px;
}
.user-out-form footer .nav {
	padding: 0;
}
.user-out-form footer .navbar {
	margin: 10px 0;
	padding: 0;
}
.user-out-form .form {
	margin-top: 30px;
}
.user-out-form .form .form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none !important;
}

.user-out-form .form input[type="text"], .user-out-form .form input[type="password"] {
	border-radius: 20px !important;
	padding: 20px !important;
	margin-bottom: 20px;
}
.user-out-form .form input[type="submit"] {
	border-radius: 20px !important;
	padding: 10px !important;
	width: 50%;
	margin-bottom: 20px;
}
.user-out-form .alert {
	font-size: 11px;
	line-height: 10px;
}

/* user-panel */
.user-panel {
	font-family: 'samim';
	background: #f7f8fa !important;
}
.user-panel header {
	background-color: #fff !important;
	border-bottom: 3px solid #e9ebea;
}
.user-panel header .header {
	padding: 10px 0;
}
.user-panel .header .logo {
	padding-top: 7px;
}
.user-panel .header .logo span {
	color: #0771A9;
	font-size: 15px;
}
.user-panel .header .logo h1 {
	font-size: 10px;
	margin: 0;
	padding: 0;
}
.user-panel .header a {
	text-decoration: none !important;
}
.user-panel .header .search .form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none !important;
}
.user-panel .header .search input[type="text"] {
	font-size: 11px;
	width: 100%;
}
.user-panel .header .navbar {
	color: #d9d9d9;
	padding-bottom: 0;
	padding-left: 0;
}
.user-panel .header .navbar ul {
	margin-top: 4px;
}
.user-panel .header .navbar li {
	margin-left:10px;
}
.user-panel .content {
	margin: 30px 0;
}
.user-panel .content .content-box {
	background-color: #fff;
	height: 300px;
	width: 100%;
	border:1.2px solid #e9ebea;
}
.user-panel .content .content-box h5 {
	border-bottom:1.2px solid #e9ebea;
	font-size: 13px;
	padding: 10px;
}