
/* Style Header */
@charset "utf-8";
@font-face {
	font-family: 'samim';
	font-style: normal;
	src: url('../fonts/samim.eot');
	src: url('../fonts/samim.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/samim.woff2') format('woff2'),
		 url('../fonts/samim.woff') format('woff'),
		 url('../fonts/samim.ttf') format('truetype');
}

/* Global Style */
.right-to-left {
	direction: rtl;
}
.left-to-right {
	direction: ltr;
}
.width-50 {
	width: 50%;
}
.hr {
	height: 2px;
	width: 100%;
	background: #e9ebea;
	margin: 20px 0 10px;
}
.text-gray {
	color: #adb0b2;
}


/* user-out-form */
.user-out-form {
	font-family: 'samim';
	padding: 30px 0;
	background-image: url(../images/user-out-form.jpg);
}
.user-out-form .content .col-md-4 {
	margin:120px auto;
}
#register-page .content .col-md-4 {
		margin:60px auto 50px !important;
}
.user-out-form .content .logo h1 {
	display: inline;
	font-size: 40px;
}
.user-out-form .content .logo h2 {
	border-radius: 7px;
	padding: 5px 20px;
	display: inline;
	color: #0771A9;
	font-size: 40px;
}
.user-out-form footer .nav {
	padding: 0;
}
.user-out-form footer .navbar {
	margin: 10px 0;
	padding: 0;
}
.user-out-form .form {
	margin-top: 30px;
}
.user-out-form .form .form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none !important;
}

.user-out-form .form input[type="text"], .user-out-form .form input[type="password"] {
	border-radius: 20px !important;
	padding: 20px !important;
	margin-bottom: 20px;
}
.user-out-form .form input[type="submit"] {
	border-radius: 20px !important;
	padding: 10px !important;
	width: 50%;
	margin-bottom: 20px;
}
.user-out-form .alert {
	font-size: 11px;
	line-height: 10px;
}

/* user-panel */
.user-panel {
	font-family: 'samim';
	background: #f7f8fa !important;
}
.user-panel header {
	background-color: #fff !important;
	border-bottom: 3px solid #e9ebea;
}
.user-panel header .header {
	padding: 10px 0;
}
.user-panel .header .logo {
	padding-top: 7px;
}
.user-panel .header .logo span {
	color: #0771A9;
	font-size: 15px;
}
.user-panel .header .logo h1 {
	font-size: 10px;
	margin: 0;
	padding: 0;
}
.user-panel .header a {
	text-decoration: none !important;
}
.user-panel .header .search .form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none !important;
}
.user-panel .header .search input[type="text"] {
	font-size: 11px;
	width: 100%;
}
.user-panel .header .navbar {
	color: #d9d9d9;
	padding-bottom: 0;
	padding-left: 0;
}
.user-panel .header .navbar ul {
	margin-top: 4px;
}
.user-panel .header .navbar li {
	margin-left:10px;
}
.user-panel .content {
	margin: 30px 0;
}
.user-panel .content .content-box {
	background-color: #fff;
	height: auto;
	width: 100%;
	border:1.2px solid #e9ebea;
	font-size: 13px;
	margin-bottom: 20px;
}
.user-panel .content .content-box h5 {
	border-bottom:1.2px solid #e9ebea;
	font-size: 13px;
	padding: 10px;
}
.user-panel .content .content-box .real-content
{
	padding: 20px;
}
.user-panel .avatar-timeline
{
	width: 145px;
	height: 145px;
	border-radius: 100%;
	padding:10px;
	border:1.2px solid #e9ebea;
	margin: 30px auto;
}
.user-panel .avatar-timeline img
{
	border-radius: 100%;
	width: 120px;
	height: 120px;
}
.user-panel .full-name-timeline h4
{
	font-size:18px;
}
.user-panel .connection-state-timeline
{
	border-top:1.2px solid #e9ebea;
	border-bottom:1.2px solid #e9ebea;
	padding: 10px 0 0 0;
	margin: 20px 0;
}
.user-panel .social-link-timeline
{
	font-size: 11px;
}
.user-panel .social-link-timeline span:nth-child(odd)
{
	margin-right: 15px;
}
.user-panel .social-link-timeline a
{
	text-decoration: none !important;
}
.user-panel .write-post-box-title
{
	padding-bottom: 0.2px;
	border-bottom:1.2px solid #e9ebea;
}
.user-panel .write-post-box-title h6
{
	display: inline;
	margin: 0;
	padding: 0;
	border-bottom: 1.2px solid #007bff;
	font-size: 13px;
}
.user-panel .write-post-box-content
{
	margin-top: 5px;
}
.user-panel .write-post-box-content textarea
{
	border:none !important;
	resize: none;
	padding:0 0 0 20px;
	font-size: 15px;
	text-align: justify !important;
	white-space: normal;
	line-height: 30px;
}
.user-panel .write-post-box-content textarea:focus{
    -webkit-box-shadow: none;
    box-shadow: none !important;
}
.user-panel .write-post-box-content input[type="file"] {
    display: none;
}
.user-panel .write-post-box-content .custom-file-upload {
	margin-left: 10px;
    cursor: pointer;
}

.user-panel .content .content-box .edit-item-icon span {
	font-size: 11px;
}

.database-table
{
	border:1px solid #000;
	width: 100%;
	font-size: 12px;
}
.database-table th {
	padding: 10px;
	background-color: #000;
	color: #fff;
}
.database-table td {
	padding: 5px;
}

.person-profile-table {
	width: 100%;
	font-size: 12px;
}
.person-profile-table td {
	padding: 10px;
}
.person-profile-table td:nth-child(odd) {
	background-color: #0771A9;
	color: #fff;
	width: 20%;
}
.person-profile-table td:nth-child(odd):after {
	content: " : "
}
.person-profile-table td:nth-child(even) {
	text-indent: 20px;
	background-color: #f8f9f9;
}
.user-profile-items
{
	margin: 10px 0;
	list-style: square;
	padding-right: 15px;
}
.user-panel .content .content-box .user-profile-items li {
	margin-bottom: 10px;
	padding: 0;
}

.user-panel .social-link-timeline .social-profile-input {
	border:none;
	border-bottom: 1px solid #adb0b2;
	outline: none;
	color: #555;
	width: 83%;
}
.user-panel .avatar-file {
    display: none;
}


/* User Profile */
.profile-topline {
	font-family: 'samim';
	background: #0771A9;
	padding: 20px;
	font-size: 12px;
}
.profile-header
{
	font-family: 'samim';
	margin: 50px 0;
	border-bottom: 2px solid #cfcfcf;
	padding-bottom: 20px;
}
.profile-avatar {
	padding: 5px;
	border:2px solid #0771A9;
	border-radius: 100%;
	display: inline-block;
	box-shadow:0px 0px 50px #0771A9;
}
.profile-avatar img
{
	border-radius: 100%;
	width: 150px;
	height: 150px;
}
.profile-header h1
{
	margin-bottom: 20px;
}
.social-profile-contact
{
	font-size: 12px;
}
.social-profile-contact p
{
	line-height: 0px;
}
.profile-section {
	font-family: 'samim';
}
.profile-section .row
{
	margin-top: 50px;
}
.profile-section p {
	line-height: 30px;
}
.profile-section h3 {
	margin-bottom: 30px;
}
.profile-button-handler {
	margin-top: 20px;
}
.profile-button-handler * {
	font-size: 12px;
}
.big-line-height {
	line-height: 40px;
}
.copyright-profile {
	font-family: 'samim';
	margin-top: 50px;
	padding: 40px 0 20px 0;
	background: #000;
	font-size: 12px;
}
#register_date {
	font-size: 11px;
}
.timeline-posts {
	margin: 30px 0;
}
.timeline-posts .content-content {
	margin-bottom: 20px;
}
.timeline-posts-user {
	border-bottom: 1px solid #e9ebea;
	padding-bottom: 10px;
}
.timeline-posts-user-avatar {
	width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 5px;
    border: 1px solid #e9ebea;
    box-shadow: 0px 0px 50px #e9ebea;
}
.timeline-posts-user-avatar img {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
.timeline-posts-user-fullname {
	margin-right: 20px;
	margin-top: 10px;
}
.timeline_posts-content {
	margin: 20px 0;
	line-height: 30px;
	text-align: justify;
}
.timeline_posts-footer {
	border-top: 1px solid #e9ebea;
	padding-top: 10px;
}
.suggest-item {
	width: 100%;
	height: 90px;
	padding: 20px;
	box-shadow: 0px 0px 50px #e9ebea;
	border: 1px solid #e9ebea;
	margin-bottom: 20px;
}
.suggest-item:hover {
	background-color: #e9ebea;
	transition: 0.5s;
}
.suggest-item-image img {
	max-width: 30px !important;
	max-height: 30px !important;
}
.suggest-item-image {
	width: 45px;
    height: 45px;
    border-radius: 100%;
    padding: 5px;
    border: 1px solid #e9ebea;
    box-shadow: 0px 0px 50px #e9ebea;
}
.suggest-item-content {
	margin-top: 10px;
	margin-right: 10px;
}
.timeline_posts-footer ul{
	list-style: none;
	font-size: 12px;
	margin: 0;
}
.timeline_posts-footer li {
	margin-left: 10px;
}
.timeline_posts-footer li a:hover {
	text-decoration: none;
}
.timeline_posts-image {
	margin-bottom: 10px;
}
.like-anchor:hover {
	color:#f00;
}